.row {
    display: flex;
    justify-content: start;
}
* {
    color:white !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#myname{
    color:#00B2DF !important;
    
}
body{
    background-color: #191923 !important;
}
.nav-item{
    margin:0 25px;
    
}
.nav-link:hover{
    border-bottom: 1px solid #00B2DF;
}

.navbar-nav{
    display: flex !important;
    justify-content: center;
    animation:navbar-nav 1000ms ease-in-out 0s 1 normal none running;
}
.active{
    color:#00B2DF !important;
}
@keyframes navbar-nav {
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(0);
    }
}
.aboutme {
    box-shadow: 18px 14px 69px 6px #00B2DF !important;
    border-radius: 15px;
    background-color: black;
    padding: 2% !important;
    margin-top: 1% !important;
    display: flex;
    justify-content: center;

}

.aboutmeimg>img {
    border-radius: 20px;
    border: 2px solid rgb(208, 208, 208);
    box-shadow: 18px 14px 69px 6px rgba(243,81,130,1);
    margin-top: 5%;
    position: relative;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.desc {
    padding: 7% 5% !important;
}

.desc>div {
    margin-top: 11%;
    display: flex;
    justify-content: start;
}
.desc>div>img{
    animation: float 3s ease-in-out infinite;
    box-shadow: 18px -3px 69px 6px rgb(247, 247, 247);
    border-radius: 5px;

}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}


.desc h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.homeimage>img {
    border-radius: 50%;
    box-shadow: 7px 33px 92px 28px rgba(0,178,223,0.69);
    margin-top: 10%;
}

.desc {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
}


/* Next Btn */
.cta {
    /* display: flex; */
    position: absolute;
    margin: 0 5%;
    padding: 11px 33px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    background: #00B2DF;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta .second {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover .second {
    transition: 0.5s;
    margin-right: 45px;
}

.spanbtx {
    transform: skewX(15deg);
    font-family: 'Rubik';
}

.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #FBC638;
    }

    100% {
        fill: white;
    }
}

/* container */
.container {
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.aboutmedesc {
    -webkit-animation: aboutmedesc 1s cubic-bezier(0.950, 0.050, 0.795, 0.035) 0.1s both;
    animation: aboutmedesc 1s cubic-bezier(0.950, 0.050, 0.795, 0.035) 0.1s both;
}

@-webkit-keyframes aboutmedesc {
    0% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes aboutmedesc {
    0% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}